*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: customFont;
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf)
}

body{
    font-family: customFont;
    background-color: hsl(275, 100%, 97%);
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.bgimage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.faq-card{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    max-width: 700px;
    margin: 8em;
    padding: 5em;
    box-sizing: border-box;
}

.faq-heading h1{
    margin: 0 0 20px;
    color:hsl(292, 42%, 14%);
}


.faq-question{
    padding: 15px 0;
    cursor: pointer;
}

.faq p{
    margin: 0;
    color: hsl(292, 42%, 14%);
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.faq-answer p{
    margin: 0;
    color:hsl(292, 16%, 49%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.faq-question :active{
    color: hsl(292, 16%, 49%);
}

.faq-answer.active {
    max-height: 200px;
}


/* Responsive styles */

@media (max-width: 768px){
    .faq-card{
        padding: 15px;
    }
}

@media (max-width: 480px){
    .faq-card{
        padding: 10px;
    }
}

/* Background styles for the mobile and desktop devices */