*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    margin: 5em;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 850px;
    max-height: 85vh;
    border-radius: 15px;
}

.left-section{
    width: 450px;
    height: 85vh;
    border-radius: 15px;
}

.left-section img{
    width: 450px;
    height: 85vh;
    border-radius: 13px;
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
}

.right-section h2{
    font-family:"Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 550;
    letter-spacing: 6px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 15px;
}

.heading-section{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 900;
    color: hsl(212, 21%, 14%);
    margin-bottom: 5px;
}

.content-section{
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    font-weight: 550;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.prices{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sellingPrice{
    font-family: "Fraunces", serif;
    font-size: 45px;
    margin-right: 30px;
    color: hsl(158, 36%, 37%);
    font-weight: 900;
}

.strikedPrice{
    text-decoration: line-through;
    font-size: 20px;
}

button{
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img{
    margin-right: 15px;
}